.headerImg{
    width: 75px;
    height: 100px;
}
.ShowAll{
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(177, 144, 144);
}
.wholeItemDiv{
    width: 250px;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.clickDisplayImg{
    width: 150px; 
}
.wholeItemDivImg{
    width: 150px; 
}
#displayMeal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.listStyle{
    list-style-type: none;
}